<div class="row flex-xl-nowrap">
      <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
        <h3 class="bd-toc-item">Categories</h3>
        <ng-template #loading>
          <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        </ng-template>
        <ul class="list-group" *ngIf="(categories$ | async) as categories; else loading">
            <li (click)="onSelect(category)" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" [ngClass]="{'active': category == selectedCategory }" *ngFor="let category of categories">
              {{ category | titlecase }}
              <span *ngIf="getFavesCount(category, favourites$ | async) as count" class="badge badge-secondary badge-pill">{{ count }}</span>
            </li>
        </ul>
      </div>
      <div class="col-12 col-md-9 col-xl-8 pl-md-5 bd-content">
          <app-category [category]="selectedCategory"></app-category>
      </div>
</div>



