
<div *ngIf="category">
  <h3>{{category | titlecase}}</h3>
  <ng-template #loading >
      <i *ngIf="!errorMessage" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
  </ng-template>
  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <div *ngIf="jokes.length; else loading">
    <app-joke *ngFor="let joke of jokes" [joke]="joke"></app-joke>
  </div>

</div>
