<div  *ngIf="joke" class="card">
  <div class="card-body media">
    <img class="mr-3" (click)="makeFavourite(joke)" [ngClass]="{'favourite': isFavourite(joke, favourites$| async)}" [src]="joke.icon_url" alt="Chuck Norris">
    <div class="media-body">
      <blockquote  class="blockquote blockquote">
        <p class="mb-0">{{ joke.value }}</p>
      </blockquote>
    </div>
  </div>
</div>

